*{
	margin:0;
	padding:0;
  background-color: blue;
}

.FactHeader{
  margin: 10% 15% 0 15%;
  background-color: white;
  width: 70%;
  height: 125px;
}

.FactHeader h1{
  font-family: "Gotham", sans-serif;
  font-size: 2.5em;
  color: lightgray;
  display: block;
}

.Fact{
  margin: 0 15% 0 15%;
  background-color: orange;
  width: 70%;
  height: 350px;
}
